.navbar {
    height: 70px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
    border-radius: 3px;
    margin-bottom: 50px; 
}


.navbar-logo {
    border-radius: 7px;
    height: 60px;
    margin-right: 20px;
}


.app-name-first, .app-name-second {
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(to right, #FF7E5F, #FFD700, #FF7E5F, #FFD700, #FF7E5F, #FFD700);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-family: 'Montserrat', sans-serif; 
}

.new-app-name {
    font-size: 50px;
    font-weight: bold;
    color: darkblue;
    font-family: 'Montserrat', sans-serif; 
}


.nav-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap; 
    font-size: 18px; 
    font-weight: bold;
    gap: 20px; 
    margin-left: auto;
    align-items: center;
}


.nav-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: gray;
    transition: color 0.3s ease-in-out;
}



.nav-icon {
    height: 20px;
    margin-right: 5px;
    border: none;
}

.nav-list li.active {
    background-color: white;
    color: black;
    padding: 8px 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(12, 7, 7, 0.2);
}

.nav-list li .nav-link {
    text-decoration: none;
    color: inherit; 
}

.search {
    border: 2px solid black;
    margin-left: 50px; 
    border-radius: 10px;
    height: 35px;
    width: 280px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}

.search img {
    margin: 5px;
    height: 20px; 
    cursor: pointer;
}

.search-bar {
    width: 90%;
    outline: none;
    border: none;
    font-size: 16px; 
}


